<div class="section" id="contact">
        <div class="cc-contact-information" data-parallax="true" style="background-image: url('assets/images/contact.jpg');">
          <br><br><br><br><br><br><br>
            
              <p style="font-weight: bold; padding-left: 60px; text-align: left; font-family:cursive;"><i><h1>Get in touch...</h1></i></p>
              <p style="text-align: left;vertical-align: middle; font-family:cursive; padding-left: 20px; font-size: x-large;">whether its a question or a suggestion<br>feel free to connect with me...</p>
            <br>
          <div style="padding-left:60px;">
          <a class="btn btn-default btn-round btn-lg btn-icon"  style="background-color:silver; color:black; " href="mailto:aswathim2511@gmail.com"
            target="aswathim2511@gmail.com" rel="tooltip" title="Click to Mail me">
            <i class="fa fa-envelope"></i>
          </a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          
          <a class="btn btn-default btn-round btn-lg btn-icon"  style="background-color:silver; color:black; " href="https://www.linkedin.com/in/aswathi-muralidharan-a69751130"
            target="_blank" rel="tooltip" title="Follow me on Linkedin">
            <i class="fa fa-linkedin fa-3x"></i>
          </a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

          <a class="btn btn-default btn-round btn-lg btn-icon"  style="background-color:silver; color:black" href="https://github.com/Aswathim25"
            target="_blank" rel="tooltip" title="Follow me on Github">
            <i class="fa fa-github"></i>
          </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

          <a class="btn btn-default btn-round btn-lg btn-icon"  style="background-color:silver; color:black" (click)="toggle()"
            target="_blank" rel="tooltip" title="Click to view number">
            <i class="fa fa-phone"></i>
          </a>&nbsp;&nbsp;
        </div>
        <br>
        <div *ngIf="phone" style="padding-left: 110px;">
          <p style="text-align: left; font-family:cursive; font-size: large;">Phone : +91&nbsp; 7299078166</p>
        </div>
        </div>
</div>
              
      