<div class="section" id="experience" style="background-color: rgb(209, 184, 152);">
    <!-- gainsboro -->
    <div class="container cc-education"><br>
        <h2 align="center"> My Timeline </h2>

<mat-horizontal-stepper [linear]="isLinear" #stepper labelPosition="bottom">

  <mat-step label="10th" state="school">
    <div style="padding-top: 2%;">
            <div class="example-full-width">
                <div class="h5">Secondary Education (10<sup>th</sup> Std) - 2013</div>
                   <h4 class="category" style="color: black;">AV Meiyappan Matriculation Higher Secondary School
                   </h4>
                   <ul >
                    <li style="font-size: large;">Scored <b>98.6%</b> in my Secondary School Board Exams.</li>
                    <li style="font-size: large;">Ranked School <b>3<sup>rd</sup></b> in the Board Exams.</li>
                  </ul>                
                </div>
            <br/>
            <button mat-raised-button matStepperNext>Next</button>
    </div>
    <br><br><br><br><br><br>
  </mat-step>

  <mat-step label="12th" state="school">
    <div style="padding-top: 2%;">
              <div class="example-full-width">
                <div class="h5">Higher Secondary (12<sup>th</sup> Std) - 2015</div>
                <h4 class="category" style="color: black;">AV Meiyappan Matriculation Higher Secondary School
                </h4>
                <ul>
                 <li style="font-size: large;">Chose Computer Science, Mathematics, Physics and Chemistry as my primary subjects.</li>
                 <li style="font-size: large;">Scored <b>94%</b> in the Board Exams.</li>
                 <li style="font-size: large;">Was elected as the <b>Captain</b> of my school house and won the <b>Overall Championship Trophy</b>.</li>
               </ul>
                </div>
            <br/>
            <button mat-raised-button matStepperPrevious>Back</button>&nbsp;&nbsp;&nbsp;  
            <button mat-raised-button matStepperNext>Next</button>
    </div>
    <br><br><br><br>
  </mat-step>

  <mat-step label="College" state="college">
    <div style="padding-top: 2%;">
              <div class="example-full-width">
                <div class="h5">BE Computer Science and Engineering - 2015 to 2019</div>
                <h4 class="category" style="color: black;">Rajalakshmi Institute Of Technology
                </h4>
                <ul>
                 <li style="font-size: large;"> Rajalakshmi Institute of Technology is Affiliated to Anna University and located in Chennai, Tamil Nadu </li>
                 <li style="font-size: large;">Completed my Bachelor's in Computer Science and Engineering with <b>8.92 CGPA</b>.</li>
                  <li style="font-size: large;"><b>Gold Medalist</b> and secured <b>19<sup>th</sup> Rank</b> in Anna University overall state ranking.</li>
                  <li style="font-size: large;">Won various awards for my Academic performance. (Check out My Possessions <i class="fa fa-smile-o"></i>)</li>
                </ul>
                </div>
            <br/>
            <button mat-raised-button matStepperPrevious>Back</button>&nbsp;&nbsp;&nbsp;  
            <button mat-raised-button matStepperNext>Next</button>
    </div>
    <br><br><br>
  </mat-step>

  <mat-step label="Intern" state="intern">
    <div style="padding-top: 2%;">
              <div class="example-full-width">
                <div class="h5">Intern - 5 Months</div>
                  <h4 class="category" style="color: black;"> NEC (Nippon Electric Corporation) 
                  </h4>
                  <p style="font-size: large;">Completed a 5 months Internship at NEC located in Chennai, during the time learned about end-to-end application development and developed an Assert Management System for the 
                     company. The Tech stack used for the developing the application are as follows,
                  </p><ul>
                     <li style="font-size: large;">HTML,CSS</li>
                     <li style="font-size: large;">JavaScript</li>
                     <li style="font-size: large;">php</li>
                     <li style="font-size: large;">MySql</li>
                 </ul>
               </div>
            <br/>
            <button mat-raised-button matStepperPrevious>Back</button>&nbsp;&nbsp;&nbsp;  
            <button mat-raised-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="Job" state="job">
    <div style="padding-top: 2%;">
              <div class="example-full-width">
                <div class="h5">Virtusa Consulting Services Private Limited - 2019 to Till Date</div>
                  <h4 class="category" style="color: black;">Engineer - Technology
                  </h4>
                  <p style="font-size: large;">Started my career here at Virtusa, as a fresher was trained in Big Data Techologies and later got the opportunity to work in a wide range of projects of different 
                     domains as follows,</p>
                        <ul>
                            <li style="font-size: large;">Web based Application development</li>
                            <li style="font-size: large;">Exploratory Data Analysis</li>
                            <li style="font-size: large;">Data Quality Check</li>
                        </ul>
               </div>
            <br/>
            <button mat-raised-button matStepperPrevious>Back</button>
    </div>
  </mat-step>
 
  <ng-template matStepperIcon="school">
    <mat-icon>school</mat-icon>
</ng-template>
<ng-template matStepperIcon="college">
    <mat-icon>account_balance</mat-icon>
</ng-template>
<ng-template matStepperIcon="intern">
    <mat-icon>computer</mat-icon>
</ng-template>
<ng-template matStepperIcon="job">
    <mat-icon>work</mat-icon>
</ng-template>

</mat-horizontal-stepper>
<br><br>
    </div>
</div>
