<div class="section" id="about" style="background-color: whitesmoke">
    <img src='assets/images/pic.jpg' alt="Image" style="width:500px; height:700px; float: left;" class="image" />
    <div class="content">
      <br><br><br><br><br>
      <h1 class="title"><span style="font-family: cursive; font-weight: bold;">Welcome to My World...</span></h1>
      <h5 class="paragraph">
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Hello Readers, My name is Aswathi Muralidharan, a Full Stack Developer and 
        Data Science enthusasist who is eager to explore and find solutions to real-world problems. I enjoy taking up challenges and finding 
        solutions to them.
      </h5><br>
      <h5 class="paragraph">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; If you want to know more about me <strong> scroll down </strong><i class="fa fa-smile-o "></i>
      </h5>

    </div>
</div>
 <!--  
              <div class="h4 mt-0 title">Welcome to My World...</div>
              <p style="text-align: justify;">Hi I'm <strong>Aswathi Muralidharan</strong>  . I am currently working as a Full Stack Developer for a banking project.
                My area of expertise include Angular, Python, Java, Database and Data Analytics. I am also a Data Science and 
                Machine Learning enthusasist who is eager to explore and solve interesting problems. I have also done few projects and portfolio work
                in above specified field. I was the topper of my College and won various Academic Awards. I have also participated and won
                in several competitions.</p>
              <p style="text-align: justify;">
                I Love doing Research and finding solutions to real-world problems with an eye to new technologies. 
                I always believe in <strong>"Hard work never fails"</strong> and try to enjoy every moment of life.
              </p> 
                
          
            </div>
          </div>
          
        </div>
      </div>
    </div> -->
  <!-- </div><br><br><br><br> -->
  <!-- </div> -->