<div class="section" id="about" style="background-color: whitesmoke">
    <img src='assets/images/pic.jpg' alt="Image" style="width:500px; height:700px; float: left;" class="image" />
    <div class="content">
      <br><br><br><br><br>
      <h1 class="title"><span style="font-family: cursive; font-weight: bold;">Welcome to My World...</span></h1>
      <h5 class="paragraph">
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Hello Readers, My name is Aswathi Muralidharan, a Full Stack Developer and 
        Data Science enthusiast who is eager to explore and find solutions to real-world problems. I enjoy taking up challenges and finding 
        solutions to them.
      </h5><br>
      <h5 class="paragraph">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; If you would like to know more about me <strong> scroll down </strong><i class="fa fa-smile-o "></i>
      </h5>

    </div>
</div>
