 <div class="section" id="projects" >
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">My Projects</div><br><br>

          <div class="carousel slide" id="cc-Indicators" data-ride="carousel">
            
            <ol class="carousel-indicators">
              <li class="active" data-target="#cc-Indicators" data-slide-to="0"></li>
              <li data-target="#cc-Indicators" data-slide-to="1"></li>
              <li data-target="#cc-Indicators" data-slide-to="2"></li>
              <li data-target="#cc-Indicators" data-slide-to="3"></li>
                           
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                 
                  <div class="col-lg-2 col-md-3" style="vertical-align: middle;">
                    <br>
                    <img src="assets/images/project_1.PNG" alt="Image" style="width:170px;height:200px;margin-left: 15px; margin-right:5px; float: left;"/>
                  </div>
                  <div class="col-lg-10 col-md-9" style="padding:15px;">
                    <br>
                    <h2 title>Logistics - Using Reinforcement Learning</h2>
                    <p>	Using Reinforcement learning identified the efficient path from source to destination. This can be used for transportation which will eliminate the delay and fuel cost.</p>
                    <br>
                    <p><b>Tech Stack : </b>Python, Reinforcement algorithm</p>
                    <br>
                    <button (click)="project1()">Source Code</button>
                    <br><br>              
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-lg-2 col-md-3" style="vertical-align: middle;">
                    <br>
                    <img src="assets/images/project_2.jpg" alt="Image" style="width:170px;height:200px;margin-left: 15px; margin-right:5px; float: left;"/>
                  </div>
                  <div class="col-lg-10 col-md-9">
                    <br>
                    <h2 title>Marine Oil Spill Prediction</h2>
                    <p>A method incorporated using both vector model and lagrangian approach to predict the trajectory of oil spill in marine environment using live data from NOAA.
                       It is a web application where the user can provide the co-ordinate of the spill to predict the oil spill trajectory.     </p>
                       
                       <p><b>Tech Stack : </b>Python, OpenDrift Framework, HTML, CSS</p>
                       <br>
                       <button (click)="displayGif()">View Sample</button> &nbsp;&nbsp;&nbsp;<button (click)="project2()">Source Code</button>
                       <br><br>
                  </div>
                </div>
              </div>


              <div class="carousel-item">
                <div class="row">
                  <div class="col-lg-2 col-md-3" style="vertical-align: middle;">
                    <br>
                    <img src="assets/images/project_3.jpg" alt="Image" style="width:200px; height:150px; margin-left: 15px; margin-right:5px; float: left;"/>
                  </div>
                  <div class="col-lg-10 col-md-9">
                    <br>
                    <h2 title>Intelligent Gadget to enhance living standards of people with Dementia</h2>
                    <p>This project has a wide range of application in health care industry and was shortlisted in
                      My Government and Texas Instrumentation Innovation contest for Semi finals level and received a cash prize 
                      of Rs.20,000. </p>

                    <p><b>Hardware Project : </b>Facial Recognition, Voice Assistance and Location Tracking</p>
                  <br>
                  <button (click)="openVideo()">Video Link</button>
                  <br><br>
                  </div>
                </div>
              </div>

              <div class="carousel-item">
                <div class="row">
                  <div class="col-lg-2 col-md-3" style="vertical-align: middle;">
                    <br>
                    <img src="assets/images/project_4.PNG" alt="Image" style="width:200px; height:150px; margin-left: 15px; margin-right:5px; float: left;"/>
                  </div>
                  <div class="col-lg-10 col-md-9">
                    <br>
                    <h2 title>My Portfolio</h2>
                    <p>A Front-end web based application designed using Angular framework and Bootstrap, exhibiting various layouts, styles
                      and contents about myself. </p>
                    <p><b>Tech Stack : </b>Angular Framework and Bootstrap</p>
                    <br>
                    <button (click)="project4()">Source Code</button>  &nbsp;&nbsp;&nbsp;
                    <button (click)="project4_site()">View Site</button>
                    <br><br>

                  </div>
                </div>
              </div>

             
             
            </div>
          </div>
       
        <br><br>
    </div>
 </div>


 