<div class="profile-page">
    <div class="wrapper">
      <div class="page-header" filter-color="green">
        <div class="page-header-image" data-parallax="true" style="background-image: url('assets/images/intro.jpg');">
        </div>
        <div class="container">
          <div class="content-center">
            <br><br><br>
            <p style="text-align: center; font-style: italic; font-size: x-large;" >" Computers are good at following instructions,<br>
            but not at reading your mind.<br>
          That is why you need a developer like me "</p>
            <br><br>
            <p class="h2 title" style="font-weight: bold;">Hi, I am Aswathi Muralidharan</p>
            <p class="h6 title" style="font-weight: bold;">Full Stack Developer | Budding Data Scientist</p><br>
            <div class="text-center">      

            <a class="btn btn-default btn-round btn-lg btn-icon"  style="background-color:silver; color:black; " href="https://www.linkedin.com/in/aswathi-muralidharan-a69751130"
                target="_blank" rel="tooltip" title="Follow me on Linkedin">
                <i class="fa fa-linkedin"></i>
              </a> &nbsp;&nbsp;

              <a class="btn btn-default btn-round btn-lg btn-icon"  style="background-color:silver; color:black; " href="mailto:aswathim2511@gmail.com"
                target="aswathim2511@gmail.com" rel="tooltip" title="Send me a Mail">
                <i class="fa fa-envelope"></i>
              </a> &nbsp;&nbsp;

              <a class="btn btn-default btn-round btn-lg btn-icon"  style="background-color:silver; color:black" href="https://github.com/Aswathim25"
                target="_blank" rel="tooltip" title="Follow me on Github">
                <i class="fa fa-github"></i>
              </a>&nbsp;&nbsp;

              <a class="btn btn-default btn-round btn-lg btn-icon"  style="background-color:silver; color:black; " (click)="downloadResume()"
                rel="tooltip" title="Click to view my Resume">
                <i class="fa fa-download"></i>
              </a> &nbsp;&nbsp;
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>